:root {
    --primaryColor: #fff;
    --navColor1: #21292c;
    --navColor2: #aa3e39;
    --navColor3: #aa6e39;
    --navColor4: #236267;
    --navColor5: #2c8437;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    scroll-behavior: smooth;
}

section#home {
    background-color: var(--navColor1);
}

section#about {
    background-color: var(--navColor2);
}

section#skills {
    background-color: var(--navColor3);
}

section#projects {
    background-color: var(--navColor4);
}

section#contact {
    background-color: var(--navColor5);
}

/* Navigation menu */

/* Overlay */
.overlay {
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}

/* Nav menu items */
nav,
nav ul {
    height: 100vh;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}



/* Menu bars */
.menu_bars {
    position: fixed;
    top: 1rem;
    right: 2rem;
    z-index: 10;
    display: inline;
    cursor: pointer;
}

section {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--primaryColor);
}

section#home {
    background-image: hhh;
    background-size: cover;
    background-position: center center;
}

section#home a {
    position: absolute;
    z-index: 2;
    top: 1.5rem;
    left: 1.5rem;
    text-decoration: none;
    font-size: 0.8rem;
}